#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    float: left;
}

#navigation {
    float: right;
    text-align: right;
    top: 50px;
    right: 35px;
    font-family: helvetica, serif;
}

.displayInline {
    display: inline;
}

a {
    text-decoration: none;
}

#background {
    height: 0;
}

#boxWithText {
    width: 480px;
    background-color: black;
    opacity: 0.5;
    top: -532px;
    height: 535px;
    padding-top: 15px;
    margin-top: -25px;
    left: 0;
}

.heading {
    top: 50px;
    left: 50px;
    color: white;
    
}

.link {
    left: 280px;
    opacity: 1;
}

#footer {
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    width: 954px;
    height: 75px;
    background-color: black;
    text-align: center;
    color: white;
    clear: both;
    bottom: 131px;
    padding-top: 25px;
    top: 550px;
}

#mountainsPic {
    border: solid black;
    width: 291px;
    height: 199px;
    float: left;
    top: 50px;
}

.posRel{
    position: relative;
}

.marginFix{
    margin-left: auto;
    margin-right: auto;
}

.font{
    font-family: helvetica, serif;
}