#wrapper {
    width: 960px;
}

#logo {
    float: left;
}

#navigation {
    float: right;
    text-align: right;
    top: 50px;
    right: 35px;
    ;
}

.displayInline {
    display: inline;
}

a {
    text-decoration: none;
}

#background {
    height: 0;
}

#boxWithText {
    width: 480px;
    background-color: black;
    opacity: 0.5;
    top: -532px;
    height: 535px;
    padding-top: 15px;
    margin-top: -25px;
    left: 0;
}

.heading {
    top: 50px;
    left: 50px;
    color: white;
}

.link {
    left: 280px;
    opacity: 1;
}

#footer1 {
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    width: 954px;
    height: 75px;
    background-color: black;
    text-align: center;
    color: white;
    clear: both;
    bottom: 131px;
    padding-top: 25px;
    top: 550px;
}

#footer2 {
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    width: 954px;
    height: 75px;
    background-color: black;
    text-align: center;
    color: white;
    clear: both;
    bottom: 131px;
    padding-top: 25px;
    top: 420px;
}

#mountainsPic {
    width: auto;
    height: auto;
    float: left;
    top: 142px;
    left: -173px;
    margin: 0.5em;
    padding: 1.1em;
}

.thinBorder {
    border: thin black solid;
    height: auto;
}

.posRel {
    position: relative;
}

.marginFix {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#table {
    left: -272px;
    float: right;
    top: 160px;
    right: 121px;
}

.font {
    font-family: helvetica, serif;
}

.content {
    left: 30px;
}

#headingAndText {
    top: 170px;
    right: 145px;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}
.clearMargin {
    margin: 0px;
}

.clearPadding {
    padding: 0px;
}